<html>
<head>
	<title>Web Phishing Detection</title>
	<meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    
</head>
<body>
    <form  action="{{ url_for('y_predict')}}"method="post">
        <input id="textField"  type="text" name ="url" placeholder="Enter URL" required="required">
        <button id="submitButton" type="submit" value="submit" placeholder ="Find">Find</button>
    </form>
    <div id='result'>{{ prediction_text }}</div>
</body>
</html>