html, body { 
  margin: 0; 
  overflow: hidden;
 
}

body{
  background-image: url("bgImg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
form{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 100px;
  left:100px;
  text-align: center;
  /* display: flex; */

}
#textField{
  height: 40px; 
  margin: 0 auto;
  border: none; 
  border-radius: 20px;
  border-color: black;
}
#submitButton{
  height: 40px;
  margin: 0 auto;
  border: none; 
  border:solid 1px rgb(52, 255, 1);
  background-color: rgb(52, 255, 1);
  color:rgb(255, 255, 255) ;
  border-radius: 50%;
}
